.container {
    width: 100%;
    height: auto;

}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;  

    margin-bottom: 1rem;


    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.commentContainer {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out;
    margin-bottom: 0.7rem;
}


.comment {
    overflow: hidden;
}

.container1 {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    column-gap: 0.3rem;

}

.innerContainer1 {
    display: flex;
    justify-content: center;
    width: 50px;
    margin-right: 0.5rem;
}

.innerContainer2 {
    width: calc(100% - 60px);
}

.innerContainer2 > span {
    margin-left: 1rem;
}


.inputContainer {
    width: 100%;
    background-color: var(--wt-color);
    border-radius: 1rem;
    padding: 0.8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    
}


.inputContainer input{
    width: 100%;
    border: none;
}

.inputContainer input:focus{
    outline: none;
}




