.feedContainer {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;


}

.feedContainer::-webkit-scrollbar {
    display: none;
    
}

.feedContainer {
    -ms-overflow-style:none;
    scrollbar-width: none;
}


.title {
    margin: 1rem;
    font-weight: 700;
    color: var(--wt-color);
}

@media screen and (max-width: 768px){
    .feedContainer {
        height: 100%;
        overflow: hidden;
    
    }
}